<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helix.blockchain">

    <application android:label="Helix Blockchain Anchoring">
        <service
            android:name=".AnchoringService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.helix.blockchain.SERVICE" />
            </intent-filter>
        </service>
    </application>
</manifest>
